body {
    font-family: sans-serif;
    margin: auto;
    width: 80%;
    height: 40px;
    background-color: #f3f0f0;
    font-size: 13px;
    margin-bottom: 56px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    background-color: #c5daf5;
    margin-bottom: 0;
    margin: auto;
    color: #18108b
}

.info {
    text-align: center;
    margin-top: 5px;

}

.workplace {
    font-weight: bold;

}

.local {
    color: blue
}

h3 {
    font-weight: bold;
    font-size: 13px;
}

.skills {
    list-style: none;
}

h2 {
    margin-bottom: 0;
    padding-left: 10px;

    background-color: #ccc;
    border-bottom: 2px solid #000;
}

.objective-info {
    margin-top: 5px;
}

.topics {
    list-style: none;
    font-weight: bold;
}